//@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
// $--font-family-site: 'Marck Script';
$--font-family-site: "Open Sans";

// lavacacao
$--color-body: #413736;
$--color-main1-font: #ffffff;
$--color-main2-font: #ffffff;

$--title-color: #8b8b8b;
$--link-color: #ffffff;
$--footer-color: #faf9f5;

@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins/mixins.scss";
@import "./swiper.scss";

body {
  font-family: $--font-family-site;
  margin: 0;
  background-color: $--color-body;
  color: $--color-main1-font;
}

a {
  color: $--link-color;
}

.lemd-container {
  width: 100%;
  margin: 0 auto;

  @include display-after(sm) {
    max-width: 770px;
  }

  @include display-after(md) {
    max-width: 1080px;
  }

  @include display-after(lg) {
    max-width: 1194px;
  }
}
